{% extends 'base.html' %}

{% block content %}

<div class="container p-5">
    <div class="p-3"><center>
        <h3 class="text-muted">
          结果演示
        </h3>
      </center></div>
    <div class="row">
        <div class="col">
            <center>
            <div style="width: 350px;" class="card-header"><center><h4 class="card-title">原始图像</h4></center></div>
            <div class="original_image" >
                <img style="width: 640px;height: 350px;" src="{{ saveLocation }}" class="img-fluid" alt="...">
            </div>
        </center>
        </div>
        <div class="col">
            <center>
            <div style="width: 350px;" class="card-header"><center><h4 class="card-title">检测结果</h4></center></div>
            <div class="output_image">
                <img style="width: 640px ; height: 350px;" src="{{ output_image }}" class="img-fluid" alt="...">
            </div>
        </center>
        </div>
    </div>
</div>
{% endblock %}